<div class="bodyContainer">
    <div class="header">
        <h2>How It Works</h2>
    </div>


    <div class="holdCards " id="holdCards">
        <!-->
        <div class="contentCard fourth" id="card">
            
            <div class="cardHead ">
                <h1>{{number}}</h1>
            </div>
            <hr>

            <div class="cardTitle ">
                <strong>{{title}}</strong>
            </div>
            <div class="cardBody ">
                <p>{{paragraph}}</p>
            </div>

        
        </div>
<!-->


    </div>




</div>
