.bodyContainer {
    height: 100%;
    min-width: 320px;
}

.nav {
    min-height: 50px;
    min-width: 100%;
    background-color: rgb(40, 40, 40);
}

.jumboImage {
    background-image: url("../assets/photo-couch.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.jumboImageText {
    color: whitesmoke;
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 20%;
}


/*CSS filter to change color of svg, standard on all browsers...*/
.svgImg {
    filter: invert(72%) sepia(76%) saturate(383%) hue-rotate(118deg) brightness(95%) contrast(89%);
    padding-top: 10px;
    padding-left: 10%;
}

.startBtn {
    background-color: turquoise;
    cursor: pointer;
    color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 60px;
    border-style: hidden;
    font-family: "latoBold", "arial", sans-serif;
    cursor: pointer;
    transition: 1s;
}

.startBtn:hover {
    opacity: .5
}

.startBtn:active {
    transform: translateY(40px);
}

.tight {
    margin-top: -5px;
    margin-bottom: -5px;
}

@media screen and (max-width: 425px) {
    .startBtn {
        margin-left: 25%;
        margin-right: 20%;
        padding-left: 15%;
        padding-right: 15%;
    }
}
